<%- include("header", {}) %>
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              About
            </h6>
            <div class="custom_heading-container">
              <h2>
                web elements
              </h2>
              <hr>
            </div>
            <p>
              We are Your Ticket to Entertainment
            </p>
            <div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/favicon.png" alt="">
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Contact Us
          </h2>
        </div>
      </div>
      <div class="layout_padding-top layout_padding2-bottom">
        <div class="row">
          <div class="col-md-7">
            <form action="">
              <div class="contact_form-container">
                <div>
                  <div>
                    <input type="text" id="nameInput" placeholder="Name" required>
                  </div>
                  <div>
                    <input type="email" id="emailInput" placeholder="Email" required>
                  </div>
                  <div>
                    <input type="text" id="phoneInput" placeholder="Phone Number" required>
                  </div>
                  <div class="">
                    <input type="text" id="messageInput" placeholder="Message" class="message_input" required>
                  </div>
                  <div class="mt-5">
               
                    <button id="enviar">Send</button>
                    <div id="mensaje-enviado" style="display: none;">Mensaje enviado</div>
                    <script>
                      document.getElementById("enviar").addEventListener("click", function () {
                        // Verifica si todos los campos están llenos antes de permitir el envío
                        if (
                          document.getElementById("nameInput").value &&
                          document.getElementById("emailInput").value &&
                          document.getElementById("phoneInput").value &&
                          document.getElementById("messageInput").value
                        ) {
                          // Aquí iría tu lógica para enviar el mensaje
                          alert("Mensaje enviado");
                        } else {
                          alert("Por favor, completa todos los campos");
                        }
                      });
                    </script>
                    

                  </div>
                  
                </div>

              </div>

            </form>
          </div>
          <div class="col-md-5">
            <div class="map-box">
              <div id="map">
                <div class="map-responsive">
                  <iframe
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Santiago+Bernabeu"
                    width="600" height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_items">

        <a href="">
          <div class="item ">
            <div class="img-box box-2">

            </div>
            <div class="detail-box">
              <p>
                +34 609827744
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">

            </div>
            <div class="detail-box">
              <p>
                partyplanner@gmail.com
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-1">

            </div>
            <div class="detail-box">
              <p>
                Av. de Concha Espina, 1, 28036
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger
    chat-icon="https:&#x2F;&#x2F;cdn-icons-png.flaticon.com&#x2F;512&#x2F;2040&#x2F;2040946.png"
    intent="WELCOME"
    chat-title="AgentBot"
    agent-id="01518210-7115-4f58-b7c2-170579062503"
    language-code="es"
  ></df-messenger>
  
  <!-- end about section -->
  <%- include("footer", {}) %>