<%- include("header", {}) %>
    <div class="chat-container">
        <div id="chat-box">
            <div class="message-bot">
                <p>Hola, ¿en qué puedo ayudarte?</p>
            </div>
        </div>
        <input type="text" id="user-input" placeholder="Escribe un mensaje...">
        <button id="send-button">Enviar</button>
    </div>
<%- include("footer", {}) %>