<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Chat con el bot</title>

  
  <!-- Favicon -->
  <link rel ="icon" href="images/favicon.png" type="image/png">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

  <!-- scripts -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js" defer></script>
  <script type="text/javascript" src="js/bootstrap.js" defer></script>
  <script type="text/javascript" src="js/main.js" defer></script>
  <script type="text/javascript" src="js/bot.js" defer></script>
</head>
<body>
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="images/favicon.png" alt="">
            <span>
              PARTYPLANNER
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="concerts.html">Concerts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="clubs.html">Clubs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="otherevents.html">Other events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="mytickets.html">My tickets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="perfil_usuario.html">Profile</a>
                </li>
              </ul>
            </div>
            <!---- <div class="quote_btn-container  d-flex justify-content-center">
              </div>--->
          </div>
        </nav>
      </div>
    </header>
    <div class="chat-container">
        <div id="chat-box">
            <div class="message-bot">
                <p>Hola, ¿en qué puedo ayudarte?</p>
            </div>
        </div>
        <input type="text" id="user-input" placeholder="Escribe un mensaje...">
        <button id="send-button">Enviar</button>
    </div>
</body>
</html>
