<%- include("header", {}) %>
  <!-- news section -->

  <section class="news_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Clubs
          </h2>

        </div>
        <p>
          There are many ways to have fun, find your own event!
        </p>
      </div>
      <%- include("listaEventos", {})%>
      
    </div>
  </section>

  <!-- end news section -->
  <%- include("footer", {}) %>