<%- include("header", {}) %>
  <!-- info section -->
 <section class="about_section layout_padding">
  <body>
    <div class="container">
        <h1 id="textoMostrado"></h1>
        <div class ="row">
          <div class="col-md-4">
            <div class="box">
             <div class="img-box">
               <img id="imagenMostrada" width="300px" height="300px" alt=""> 
              </div>
            </div> 
          </div>       
          <div class="col-8">
            <h7 id="descripcionMostrada"></h7>
          </div>
          <div class="col-3">
            <h3>
              <label class="badge badge-secundary">Precio: 25€</label>
          </div>
          <div class="col-md-5 offset-md-5">
              <h3>
                <label class="badge badge-primary">Cantidad de Entradas:</label>
                <input type="number" id="quantity" name="quantity" min="1" value="1">
              </h3>
              <a href="/formulario">Comprar Entradas</a>
          </div>
        </div>
    </div>
  </section>
  <%- include("footer", {}) %>