<%- include("header", {}) %>

<div id="chat-title">
    <h1>Forum</h1>
    <p>Welcome to PartyPlanner Forum</p>
</div>

<div id="chat-container" data-username="<%= user.username %>">
    <ul id="messages"></ul>
    <form id="form-chat">
        <input id="input">
        <button>Send</button>
    </form>

</div>
