<%- include("header", {}) %>
<h1>Forum</h1>
<p>Welcome to PartyPlanner Forum</p>

<div id="chat-container" data-username="<%= user.name %>">
    <ul id="messages"></ul>
    <form id="form-chat">
        <input id="input">
        <button>Send</button>
    </form>

</div>
