<ul>
  <% for (var event in events) { %>
    <li>
      <div class="box">
        <!----
         <div class="img-box">
            <div class="action">
              <a href="/entrada_evento" onclick="guardarImagen('images/duki.jpg', 'Duki ´s Concert - 8th June 2024', 'Tras cuatro noches históricas en dos de los recintos más importantes de nuestro país, Wizink Center en Madrid y Palau Sant Jordi en Barcelona, y sus históricos cuatro Velez que el año pasado lo reafirmaron como el máximo referente indiscutible del movimiento convocando más de 200.000 espectadores, Duki se convertirá en el primer artista urbano en actuar en un estadio de fútbol en nuestro país en la historia.')">
                <img src="images/duki.jpg" height = "300px" width="300px" alt="">
              </a>
            </div>
          </div>
          <div class="action-box">
              <div class="action">
                  <a href="">
                      <img src="images/like.png" alt="">
                  </a>
                  <a href="">
                      <img src="images/comment.png" alt="">
                  </a>
                  <a href="">
                      <img src="images/share.png" alt="">
                  </a>
              </div>
          </div>
          --->
          <div class="detail-box">
              <h4 >
                  <%=events[event].name%>
              </h4>
              <p>
                  <%=events[event].description%>
              </p>
          </div>
      </div>
    </li>
  <% } %>
</ul>