<%- include("header", {}) %>
  <!-- contact section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h6>
              My tickets
            </h6>
            <p>
                Here you can see your tickets
            </p>
            <!-- Entrada 1 -->
            <div class="ticket">
              <h2>Discoteca 1</h2>
                <p>Fecha: 20 de noviembre de 2023</p>
                <p>Ubicación: Ciudad 1</p>
            </div>
  
              <!-- Entrada 2 -->
            <div class="ticket">
              <h2>Discoteca 2</h2>
                <p>Fecha: 25 de noviembre de 2023</p>
                <p>Ubicación: Ciudad 2</p>
            </div>          
          </div>
        </div>
      </div>         
    </div>
  </section>

  


  <!-- end contact section -->
  <%- include("footer", {}) %>