<section class="news_section layout_padding">
    <div class="container">
      <div class="d-flex flex-column align-items-end">
        <div class="custom_heading-container">
          <hr>
          <h2>
            Promotions
          </h2>

        </div>
        <p>
          Find the most relevant events in the city !
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="img-box">
              <div class="action">
                <a href="/entrada_evento" onclick="guardarImagen('images/chuty.jpg', 'Red Bull International - 2024', 'The Red Bull International Battle of the Roosters, is an annual international freestyle rap competition organized by Red Bull. This event brings together talented and skilled MCs (Master of Ceremonies) or rappers from around the world to compete in a fierce and electrifying battle of words. In the following season, you can attend to the Wizink Center and live this experience in live. Don`t waste this opportunity !')">
                  <img src="images/chuty.jpg" height = "300px" width="300px" alt="">
                </a>
              </div>
            </div>
      
            <div class="detail-box">
              <h4>
                Red Bull International - 2024
              </h4>
              <p>
                The Red Bull International Battle of the Roosters, is an annual international freestyle rap competition organized by Red Bull. This event brings together talented and skilled MCs (Master of Ceremonies) or rappers from around the world to compete in a fierce and electrifying battle of words. In the following season, you can attend to the Wizink Center and live this experience in live. Don't waste this opportunity !
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>