<%- include("header", {}) %>
		<!-- profile section -->
		
		<section class="contact_section layout_padding-bottom">
			<p>Do you need to sign in? <a href="/login">Login</a></p>
			<div class="container">
				<div class="d-flex flex-column align-items-end">
					<div class="custom_heading-container">
						<hr>
						<h2>
							DANIEL
						</h2>
					</div>
				</div>
				<div class="layout_padding-top layout_padding2-bottom">
					<div class="row">
						<div class="col-md-7">
							<form action="">
								<div class="contact_form-container">
									<div>
										<div>
											<input type="text" placeholder="Daniel Perez García" readonly>
										</div>
										<div>
											<input type="email" placeholder="daniel@gmail.com" readonly>
										</div>
										<div>
											<input type="number" placeholder="666 666 666" readonly>
										</div>
										<div class="">
											<input type="text" placeholder="Métodos de pago" class="message_input">
										</div>
										
										<div class="mt-5">
												<a href="/editProfile">
													Editar información
												</a>
										</div>
									</div>

								</div>

							</form>
						</div>
						<div class="col-md-5">
							<div >
								<img src="images/favicon.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- end profile section -->
		<%- include("footer", {}) %>