<%- include("header", {}) %>
		<!-- profile section -->

		<section class="contact_section layout_padding-bottom">
			<div class="container">
				<div class="d-flex flex-column align-items-end justify-content-end">
					<div class="custom_heading-container">
						<hr>
						<h2>
							Sign up
						</h2>
					</div>
				</div>
				<div class="layout_padding-top layout_padding2-bottom">
					<div class="row">
						<div class="col-md-7">
							<form action="">
								<div class="contact_form-container">
									<div>
										<div>
											<label for="name">First name:</label>
											<input type="text" id="name" name="name" required>
										</div>
										<div>
											<label for="lastName">Last name:</label>
											<input type="text" id="lastName" name="lastName" required>
										</div>
										<div>
											<label for="email">E-mail:</label>
											<input type="email" id="email" name="email" required>
										</div>							
										<div>
											<label for="phone">Phone number:</label>
											<input type="number" id="phone" name="phone" required>
										</div>
										<div> 
											<label for="password">Password:</label>
											<input type="password" id="password" name="password" required>
										</div>
										<div> 
											<label for="passwordC">Confirm password:</label>
											<input type="password" id="passwordC" required>
										</div>
										<div class="mt-5">
											<button type="submit">
												Register
											</button>
										</div>
										<p>Do you already have an account? <a href="/login">Sign in</a></p>
									</div>

								</div>

							</form>
						</div>
						<div class="col-md-5">
							<div >
								<img src="images/favicon.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!-- end profile section -->
		<%- include("footer", {}) %>